/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img,
button {
  display: block;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

i {
  line-height: 1 !important;
}

/** end reset css**/
body {
  font-family: 'Work Sans';
  font-size: 14px;
  position: relative;
}

.main-container {
  max-width: 1140px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.bold {
  font-weight: bold;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: 'Work Sans';
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.portfolio__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.portfolio__modify-btn {
  border: none;
  background: inherit;
  cursor: pointer;
}

#portfolio h2 {
  margin-left: 7rem;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 2.5rem;
}

.categories button {
  border: none;
  background: inherit;
  border: 1px solid #1d6154;
  padding: 0.5rem 1rem;
  border-radius: 60px;
  color: #1d6154;
  font-weight: 700;
  font-size: 16px;
}

.categories button:hover {
  cursor: pointer;
  background: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}

.login {
  margin-top: 10%;
  max-width: 25vw;
  margin-inline: auto;
}

.login h2 {
  text-align: center;
}

.login p {
  text-align: center;
}

.login a {
  color: #3d3d3d;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

#contact form,
#login-form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
.login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
.login label {
  margin: 2em 0 1em 0;
  display: block;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type='submit'] {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.problem {
  display: block;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

#dynamic-admin-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-family: 'Work Sans';
}

#dynamic-admin-overlay div {
  display: flex;
  gap: 0.5rem;
}

.overlay__publish-btn {
  cursor: pointer;
}

.overlay__publish-btn {
  background: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: black;
  border-radius: 1rem;
  margin: 0.5rem 1rem;
}

#dynamic-admin-modal {
  display: none;
  justify-content: center;
  padding-top: 3rem;
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.open-modal {
  display: flex !important;
}

.modal__close-icon:hover {
  cursor: pointer;
}

.modal__wrapper {
  border-radius: 10px;
  background: white;
  width: 630px;
  margin-top: 3rem;
  position: fixed;
  padding: 2rem;
}

#modal__card-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  max-width: 420px;
  height: 433px;
  margin-inline: auto;
  border-bottom: 1px solid #b3b3b3;
  overflow: auto;
}

.card {
  max-width: 77px;
  height: 103px;
}

.card:hover {
  cursor: grab;
}

.card__image-container {
  position: relative;
}

.card__move-icon {
  display: none;
}

.card__image-container:hover .card__move-icon {
  display: block;
  top: 5px;
  right: 25px;
}

.card__trash-icon {
  top: 5px;
  right: 5px;
}

.card__trash-icon,
.card__move-icon {
  position: absolute;
  background: black;
  padding: 0.25rem;
  color: white;
  border-radius: 0.1rem;
  cursor: pointer;
}

.card__btn {
  border: none;
  background: inherit;
  padding: 0.2rem 0;
  cursor: pointer;
}

.modal__btn-group {
  display: grid;
  place-content: center;
  gap: 1.5rem;
}

.add-photo {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  width: 237px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 60px;
  border: none;
  margin-top: 2.2rem;
}

.add-photo:hover {
  cursor: pointer;
}

.delete-photo {
  border: none;
  background: inherit;
  color: #d65353;
}

.delete-photo:hover {
  cursor: pointer;
}

.modal__title {
  font-size: 26px;
  font-family: 'Work Sans';
  color: black;
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.modal__window-controllers {
  display: flex;
  justify-content: end;
}
