/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img,
button,
input {
  display: block;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

i {
  line-height: 1 !important;
}

/** end reset css**/

body {
  font-family: 'Work Sans';
  font-size: 14px;
  position: relative;
}

.main-container {
  max-width: 1140px;
  margin-inline: auto;
}

.hero,
.portfolio {
  max-width: 950px;
  margin-inline: auto;
}

section {
  margin: 50px 0;
}

.bold {
  font-weight: bold;
}

/* HEADER */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.header__logo {
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

.header__logo > span {
  font-family: 'Work Sans';
  font-size: 10px;
  letter-spacing: 0.1em;
}

.primary-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.primary-menu li {
  padding: 0 10px;
  font-size: 1.2em;
}

.primary-menu li:hover {
  color: #b1663c;
}

/* HERO SECTION*/

.hero {
  display: flex;
  align-items: center;
}

.hero__portrait-container {
  flex: 1;
}

.hero__text-group {
  flex: 1;
  padding-inline: 2rem;
}

.hero__title {
  margin-bottom: 1em;
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

.hero p {
  margin-bottom: 0.5em;
}

/* PORTFOLIO */

/* __title */
.portfolio__title-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio__title {
  margin-bottom: 1em;
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

/* __categories */
.active {
  background: #1d6154 !important;
  color: white !important;
}

#categories-menu {
  display: flex;
  justify-content: center;
  font-family: 'Syne';
  gap: 0.7rem;
  margin: 2rem 0;
}

#categories-menu li {
  border: 1.5px solid #1d6154;
  padding: 0.5rem 1rem;
  border-radius: 60px;
  color: #1d6154;
  font-weight: 700;
  font-size: 16px;
}

#categories-menu li:hover {
  cursor: pointer;
  background: #1d6154;
  color: white;
}

/* __gallery */
#gallery-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/* CONTACT SECTION */

.contact {
  width: 50%;
  margin: auto;
}

.contact__text-group {
  display: grid;
  gap: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.contact__label {
  display: block;
  margin: 2em 0 1em 0;
}

.contact__input {
  min-height: 50px;
  width: 100%;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  outline: transparent;
  padding-left: 1rem;
}

input[type='submit'] {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  padding: 0.6rem 3.5rem;
  text-align: center;
  border-radius: 60px;
  border: none;
  outline: transparent;
  cursor: pointer;
}

/* FOOTER */
.secondary-menu {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0;
}

/* LOGIN PAGE */
.login__error-message {
  display: block;
  color: darkred;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.login {
  margin-top: 15vh;
  max-width: 25vw;
  margin-inline: auto;
}

.login__title {
  margin-bottom: 1em;
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
  text-align: center;
}

.login__forgot-password {
  text-align: center;
}

.login__forgot-password > a {
  color: #3d3d3d;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.login__label {
  margin: 2em 0 1em 0;
  display: block;
}

.login__input {
  height: 50px;
  width: 100%;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  outline: transparent;
  padding-left: 1rem;
}

/* ====ADMIN ELEMENTS STYLE==== */

/* general */
.icon-group {
  display: flex;
  gap: 0.5rem;
}

/* HERO */
#hero__edit-btn-container {
  margin-top: 1rem;
  cursor: pointer;
}

#hero__edit-btn {
  cursor: inherit;
}

#hero__edit-btn {
  border: none;
  background: inherit;
}

/* PORTFOLIO */
#portfolio-edit-btn-container {
  cursor: pointer;
  position: absolute;
  left: 63%;
  top: 9px;
}

#portfolio-edit-btn {
  cursor: inherit;
}

#portfolio-edit-btn {
  border: none;
  background: inherit;
}

/* TOP PANEL */
#panel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-family: 'Work Sans';
}

#panel-publish-btn {
  cursor: pointer;
  background: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: black;
  border-radius: 1rem;
  margin: 0.5rem 1rem;
  border: none;
  outline: transparent;
}

/* MODAL */

/* general */
#card {
  max-width: 77px;
  cursor: grab;
}

#card__image-container {
  position: relative;
}

#card__move-icon,
#card__trash-icon {
  position: absolute;
  background: black;
  padding: 0.25rem;
  color: white;
  border-radius: 0.1rem;
  cursor: pointer;
}

#card__move-icon {
  display: none;
}

#card__image-container:hover > #card__move-icon {
  display: block;
  top: 5px;
  right: 25px;
}

#card__trash-icon {
  top: 5px;
  right: 5px;
}

#card__edit-btn {
  border: none;
  background: inherit;
  padding: 0.2rem 0;
  cursor: pointer;
}

.hidden {
  display: none;
}
/* end of general */

/* __modal template */
#modal-root {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

#modal-wrapper {
  border-radius: 10px;
  background: white;
  width: 630px;
  margin-top: 3rem;
  position: fixed;
  padding: 2rem;
}

#modal-control-btns {
  display: flex;
}

#modal-title {
  font-size: 26px;
  font-family: 'Work Sans';
  color: black;
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

#modal-body {
  border-bottom: 1.5px solid #b3b3b3;
  max-width: 420px;
  margin-inline: auto;
  margin-bottom: 2.2rem;
}

#modal-close-btn:hover,
#modal-go-back-btn:hover {
  cursor: pointer;
}

#modal-buttons {
  display: grid;
  place-content: center;
  gap: 1.5rem;
}

/* __delete modal (initial page) */

/* ____body */
#modal-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  max-width: 420px;
  min-height: 125px;
  max-height: 395px;
  margin-inline: auto;
  overflow: auto;
}

/* ____footer */
#modal-add-btn {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  width: 237px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

#modal-delete-all-btn {
  border: none;
  background: inherit;
  color: #d65353;
  cursor: pointer;
}

/* __upload modal (second page) */

/* general styling */
.correct {
  background: #1d6154 !important;
  cursor: pointer !important;
}

/* ____body */
#modal-form {
  display: grid;
  margin-bottom: 2rem;
}

#modal-image-container {
  display: block;
  background: #e8f1f6;
  border-radius: 3px;
  cursor: pointer;
  overflow: auto;
}

#modal-upload-input {
  display: none;
}

#modal-upload-placeholder {
  display: grid;
  place-items: center;
  margin: 1.5rem 0;
}

#modal-image-icon {
  width: 58px;
  fill: #b9c5cc;
  margin-bottom: 1.2rem;
}

#modal-upload-add-btn {
  background: #cbd6dc;
  color: #306685;
  border-radius: 50px;
  padding: 0.8rem 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#modal-upload-formats {
  font-size: 10px;
}

#modal-image-preview {
  max-height: 169px;
  margin-inline: auto;
  overflow: hidden;
}

.modal-label {
  margin: 2em 0 1em 0;
  display: grid;
}

.modal-input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  outline: transparent;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

/* ____footer */
#modal-send-btn {
  border: none;
  background: #a7a7a7;
  border-radius: 60px;
  color: white;
  padding: 0.6rem 6rem;
  font-weight: bold;
}
